@charset "UTF-8";

*{
margin: 0px;
padding: 0px;
}

b {
    font-size: 1.5rem;
    color: red;
}

p {
    margin-left: 90px;
    font-size: 1.5rem;
    color:rgb(99, 44, 44);
}

header {
    background:linear-gradient(black, gray);
    padding-bottom: 10px; 
}

header > a {
    
    text-align: left;
}

header > h1,h3 {
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    color: rgb(206, 227, 241);
}

header  > p {
    padding-bottom: 20px, 20px;
    text-align: center;
    margin: auto;
    color:rgb(206, 227, 241);

   
}

header > a {
    margin-left: 30px;
    color: rgb(206, 227, 241);
    text-decoration: none;
    font-size: 1.5rem;
    
}

main {
    margin: auto;
    text-align: center;
background-color:rgb(206, 227, 241);
}

main > p {
    font-size: 2rem;
    margin: auto;
    text-align: center;
}

footer  {
    margin: 0px;
    padding: 20px;
    background:linear-gradient(black, gray);
   
}

footer > p {
    color: rgb(206, 227, 241);
    padding-bottom: 20px;
}