@charset "UTF-8";

*{
margin: 0px;
padding: 0px;
}

html,body {
    width: 100vw;
}

b {
    font-size: 1.5rem;
    color: rgb(158, 98, 14);
}

p {
    margin-left: 90px;
    font-size: 1.5rem;
    color:rgb(8, 8, 8);
}

header {
    width: 100vw;
    background:linear-gradient(rgb(58, 35, 4), rgb(198, 139, 28));
    color:  rgb(219, 204, 67);
    padding-bottom: 10px; 
}

header > a {
    background:linear-gradient(rgb(198, 139, 28),rgb(58, 35, 4));
    color:  rgb(219, 204, 67);
    text-align: left;
    border-radius: 8px;
    padding:0cqi 10px;
}

header > h1 {
    padding:20px 100px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  rgb(233, 228, 185);
}

header > h3 {
    font: size 0.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    border-radius: 10px;
    padding:1px 20px;
    text-align:center;
    font-size: 2rem;
    color: rgb(44, 43, 42);
    background:radial-gradient(rgb(247, 248, 247),rgb(34, 16, 3));
}   


header  > p {
    padding-bottom: 20px, 20px;
    font-size: 3.0rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: auto;
    background:radial-gradient(rgb(198, 139, 28),rgb(58, 35, 4));
    color: rgb(233, 228, 185) ;
    

   
}

header > a {
    margin-left: 20px;    
    color:  rgb(239, 239, 237);
    text-decoration: none;
    font-size: 1.5rem;
   }

body {
    width: 100vw;
    margin: 0px;
}

main {
    width: 100vw;
    margin: auto;
    text-align: center;
    background-color:rgb(254, 254, 254);
   }


main > p {
    font-size: 2rem;
    text-align: center;
 }

main > b {
 
}

footer  {
    margin: 0px;
    padding: 20px;
   
    background:linear-gradient(rgb(198, 139, 28),rgb(58, 35, 4) );
}

footer > p {
    background:linear-gradient(  rgb(198, 139, 28),rgb(58, 35, 4));
    color:  rgb(219, 204, 67);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}