@charset "UTF-8";

*{
margin: 0px;
padding: 0px;

}

html,body {
    width: 100vw;
}

b {
    font-size: 1.5rem;
    color: rgb(30, 40, 233);
    line-height: 2;
  


   
}

p {
    margin-left: 90px;
    font-size: 1.5rem;
    color:rgb(8, 8, 8);
    line-height: 2;
}

header {
    width: 100vw;
    background:linear-gradient(rgb(58, 35, 4), rgb(255, 253, 250));
    color:  rgb(27, 27, 25);
    padding-bottom: 10px;
    position: relative;
    display: inline-block; 
}

header > a {
    background:linear-gradient(rgb(14, 14, 14), rgb(244, 240, 240));
    color: rgb(143, 211, 248);;
    text-align: left;
    border-radius: 8px;
    padding:0cqi 10px;
}

header > h1 {
    padding:20px 100px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(rgb(23, 23, 22), rgb(247, 242, 242));
    color: rgb(143, 211, 248);
}

header > h3 {
    font: size 0.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    border-radius: 10px;
    padding:1px 20px;
    text-align:center;
    font-size: 2rem;
    background:linear-gradient(rgb(248, 248, 246), rgb(17, 17, 17));
    color: rgb(143, 211, 248);
}   


header  > p {
    padding-bottom: 20px, 20px;
    font-size: 3.0rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: auto;
    background:linear-gradient(rgb(248, 248, 246), rgb(17, 17, 17));
    color: rgb(143, 211, 248);
    

   
}

header > a {
    margin-left: 20px;    
    color:  rgb(239, 239, 237);
    text-decoration: none;
    font-size: 1.5rem;
   }

   a:hover {
    color: rgb(117, 229, 246);
    background:linear-gradient(rgb(252, 247, 247), rgb(14, 13, 13));
   }

body {
    width: 100vw;
    margin: 0px;
}

main {
    width: 100vw;
    margin: auto;
    text-align: center;
    background-color:rgb(254, 254, 254);
   }


main > p {
    font-size: 2rem;
    text-align: center;
 }

main > b {
 
}

footer  {
      padding: 10px;
    background:linear-gradient(rgb(248, 248, 246), rgb(17, 17, 17));
    color: rgb(143, 211, 248);
}

footer > p {
    color: rgb(143, 211, 248);
    border-radius: 10px 10px 0px 0px;
    text-align: center;   
    font-size: 1.5rem;
}