@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
   
}

body {
    background-color: gray;
}

header > h1 {
    border-radius: 0px 0px 10px 10px;
}

h1 {
    background-color: rgba(118, 73, 73, 0.762);
    color: rgb(239, 222, 197);
    padding:10px;
    border-radius: 10px 10px 5px 5px;
    text-align: center;
}

ul {
    margin-left: 160px;
    padding:10px;
}


a, li {
    padding: 8, 0. 8. 0;
    color: rgb(101, 99, 99);
    text-decoration: none;
    font-size: 1.5rem;
    list-style-type: none;
    
}

 main > section {
    background-color: rgb(206, 169, 121);
    color: rgba(208, 232, 215, 0.974);
    width: 630px;
    margin-left: 450px;
    align-items: center;
    border-radius: 10px;
    box-shadow: ;
   
}

footer {
    background-color: rgba(118, 73, 73, 0.762);
    color: rgb(239, 222, 197);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    

}