@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
   
}

body {
    background:radial-gradient(rgb(58, 35, 4), rgb(198, 139, 28));
}

header > h1 {
    background:linear-gradient(rgb(58, 35, 4), rgb(198, 139, 28));
    color:  rgb(219, 204, 67);
    margin: auto;
    text-align: center;
}

h1.b1 {
    background:radial-gradient(rgb(58, 35, 4), rgb(198, 139, 28));
    color:  rgb(219, 204, 67);
    padding:10px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

ul {
    margin-left: 160px;
    padding:10px;
    margin: auto;
    
}


a, li {
    padding: 8, 0. 8. 0;
    color: rgb(218, 223, 112);
    text-decoration: none;
    font-size: 1.5rem;
    list-style-type: none;
    
}

 main {
    background:radial-gradient(rgb(109, 70, 19), rgb(184, 123, 9));
    color:  rgb(228, 222, 173);
    width: 400px;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    box-shadow:1px, 2px,  6px, 5px black;
   
}

footer {
    background:linear-gradient(  rgb(198, 139, 28),rgb(58, 35, 4));
    color:  rgb(219, 204, 67);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    

}